body {
    background-color:  #00134d;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    position: relative;
}

div {
    height: 200px;
    width: 350px;
    text-align: center;
    margin: auto;
    margin-top: 10%;
}

h1 {
    color: azure;
    text-align: center;
}
input, button{
    width: 95%;
    height: 40px;
    margin: 3px;
}

input {
    background-color: #000d33;
    border: transparent;
    
}

button {
    background-color: #4a70e2;
    border: transparent;
    border-radius: 2px;
    color: azure;
}